[Desktop Entry]
Name=通知管理器
Name[da]=Manjaro-notifikatorindstillinger
Name[fr]=Paramètres du Notifieur Manjaro
Name[hu]=Manjaro Értesítő beállítások
Name[pl]=Ustawienia powiadomień Manjaro
Name[sk]=Nastavenia oznámení systému Manjaro

Comment=
Comment[da]=Grafiske indstillinger til Manjaro-notifikator
Comment[de]=Grafische Einstellungsverwaltung für Manjaro
Comment[fr]=Gestionnaire graphique de paramètres pour Notifieur Manjaro
Comment[hu]=A Manjaro Notifier értesítéseinek beállítása
Comment[pl]=Graficzne ustawienia powiadomień systemu Manjaro
Comment[sk]=Grafické nastavenia oznámení pre systém Manjaro

Exec=msm_notifier --settings
Icon=preferences-desktop
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;X-LXDE-Settings;X-XFCE-SettingsDialog;X-KDE-Settings;X-XFCE-SystemSettings;
Path=
StartupNotify=false
