[Desktop Entry]
Name=Xfce Screensaver
Name[bg]=Предпазител на екрана на Xfce
Name[ca]=Estalvi de pantalla del Xfce
Name[da]=Xfce Pauseskærm
Name[de]=Xfce Bildschirmschoner
Name[es]=Salvapantallas de Xfce
Name[eu]=Xfce pantaila-babeslea
Name[fr]=Économiseur d’écran de Xfce
Name[he]=שומר מסך Xfce 
Name[it]=Salvaschermo di Xfce
Name[ja]=Xfce Screensaver
Name[ko]=Xfce 화면 보호기
Name[lt]=Xfce ekrano užsklanda
Name[nb]=Xfce Skjermsparer
Name[nl]=Xfce-schermbeveiliging
Name[pl]=Wygaszacz ekranu Xfce
Name[pt]=Proteção de ecrã do Xfce
Name[pt_BR]=Protetor de tela do Xfce
Name[ru]=Хранитель экрана Xfce
Name[sl]=Xfce ohranjevalnik zaslona
Name[sq]=Ekrankursyes Xfce
Name[sr]=Чувар заслона ИксФЦЕ-а
Name[sv]=Xfce skärmsläckare
Name[tr]=Xfce Ekran Koruyucu
Name[zh_CN]=屏幕保护
Name[zh_TW]=Xfce 螢幕保護程式
Comment=Set your screensaver preferences
Comment[be]=Наладка ахоўніка экрана
Comment[bg]=Задайте настройки на вашия предпазител на екрана
Comment[ca]=Establiu les preferències de l'estalvi de pantalla
Comment[cs]=Nastavte své předvolby pro šetřič obrazovky
Comment[da]=Indstil dine præferencer for pauseskærmen
Comment[de]=Lege deine Bildschirmschoner-Einstellungen fest
Comment[en_AU]=Set your screensaver preferences
Comment[es]=Establezca las preferencias del salvapantallas
Comment[eu]=Ezarri zure pantaila-babeslearen hobespenak
Comment[fi]=Määritä näytönsäästäjän asetukset
Comment[fr]=Définissez vos préférences d’économiseur d’écran
Comment[gl]=Estableza as preferencias do seu protector de pantalla
Comment[he]=קבע את העדפות שומר המסך שלך
Comment[hu]=Adja meg a képernyővédő beállításait
Comment[hy_AM]=Սահմանեք էկրանապահի կարգաւորումները
Comment[is]=Stilltu valmöguleika fyrir skjávhvíluna
Comment[it]=Imposta le preferenze del salvaschermo
Comment[ja]=スクリーンセーバーの設定をする
Comment[ko]=화면 보호기 기본 설정 항목을 설정합니다
Comment[lt]=Nusistatyti ekrano užsklandos nuostatas
Comment[ms]=Tetapkan keutamaan penyelamat skrin anda
Comment[nb]=Sett opp skjermspareren
Comment[nl]=Stel uw voorkeuren in voor de schermbeveiliging
Comment[pl]=Ustawia preferencje wygaszacza ekranu
Comment[pt]=Definir as preferências da proteção de ecrã
Comment[pt_BR]=Preferências do protetor de tela
Comment[ru]=Настройка хранителя экрана
Comment[sk]=Vaše nastavenia šetriča obrazovky
Comment[sl]=Prilagodite nastavitve ohranjevalnika zaslona
Comment[sq]=Caktoni parapëlqimet tuaja për ekrankursyesin
Comment[sr]=Подеси чувара заслона
Comment[sv]=Spara inställningar för skärmsläckare
Comment[th]=ปรับแต่งโปรแกรมรักษาหน้าจอของคุณ
Comment[tr]=Ekran koruyucu tercihlerinizi ayarlayın
Comment[zh_CN]=设置您的屏幕保护首选项
Comment[zh_TW]=設定您的螢幕保護程式偏好設定
GenericName=Screensaver
GenericName[be]=Ахоўнік экрана
GenericName[bg]=Предпазител на екрана
GenericName[ca]=Estalvi de pantalla
GenericName[cs]=Šetřič obrazovky
GenericName[da]=Pauseskærm
GenericName[de]=Bildschirmschoner
GenericName[en_AU]=Screensaver
GenericName[es]=Salvapantallas
GenericName[eu]=Pantaila-babeslea
GenericName[fi]=Näytönsäästäjä
GenericName[fr]=Économiseur d’écran
GenericName[gl]=Protector de pantalla
GenericName[he]=שומר מסך
GenericName[hu]=Képernyővédő
GenericName[hy_AM]=Էկրանապահ
GenericName[is]=Skjáhvíla
GenericName[it]=Salvaschermo
GenericName[ja]=スクリーンセーバー
GenericName[ko]=화면 보호기
GenericName[lt]=Ekrano užsklanda
GenericName[ms]=Penyelamat Skrin
GenericName[nb]=Skjermsparer
GenericName[nl]=Schermbeveiliging
GenericName[pl]=Wygaszacz ekranu
GenericName[pt]=Proteção de ecrã
GenericName[pt_BR]=Protetor de tela
GenericName[ru]=Хранитель экрана
GenericName[sk]=Šetrič obrazovky
GenericName[sl]=Ohranjevalnik zaslona
GenericName[sq]=Ekrankursyes
GenericName[sr]=Чувар заслона
GenericName[sv]=Skärmsläckare
GenericName[th]=โปรแกรมรักษาหน้าจอ
GenericName[tr]=Ekran Koruyucu
GenericName[zh_CN]=屏幕保护
GenericName[zh_TW]=螢幕保護程式
Icon=org.xfce.ScreenSaver
Exec=xfce4-screensaver-preferences
Terminal=false
Type=Application
Categories=GTK;Settings;DesktopSettings;X-XFCE-PersonalSettings;X-XFCE-SettingsDialog;
OnlyShowIn=XFCE;
StartupNotify=true
X-XFCE-Bugzilla-Bugzilla=XFCE
X-XFCE-Bugzilla-Product=xfce4-screensaver
X-XFCE-Bugzilla-Component=general
X-XfcePluggable=true
X-XfceHelpPage=screensaver
