/* win10 效果 */
window {
  border-radius: 0;
}
window {
  border: 1px solid rgba(160, 160, 160, 0.8);
}
window:focus {
  border: 1px solid rgba(0, 120, 215, 0.9);
}



/* 滚动条效果 */
scrollbar slider {
  background-color: rgba(235, 235, 235, 0.6);
}