[Desktop Entry]
Encoding=UTF-8
Name=gtkterm
Name[fr]=Terminal pour port série
Comment=Communicate with the serial port
Comment[fr]=Communique avec le port série
Exec=gtkterm
Terminal=false
Type=Application
Icon=gtkterm.png
Categories=GNOME;Application;Utility;
X-AppStream-Ignore=true
