[Desktop Entry]
Name[bg]=Предпазител на екрана на Xfce
Name[ca]=Estalvi de pantalla del Xfce
Name[cs]=Šetřič obrazovky Xfce
Name[da]=Xfce Pauseskærm
Name[de]=Xfce Bildschirmschoner
Name[el]=Xfce Προστασία οθόνης
Name[en_CA]=Xfce Screensaver
Name[en_GB]=Xfce Screensaver
Name[es]=Salvapantallas de Xfce
Name[et]=Xfce ekraanisäästja
Name[eu]=Xfce pantaila-babeslea
Name[fi]=Xfce:n näytönsäästäjä
Name[fr]=Économiseur d’écran de Xfce
Name[gl]=Protector de pantalla do Xfce
Name[he]=שומר מסך Xfce 
Name[hr]=Xfce čuvar zaslona
Name[hu]=Xfce képernyővédő
Name[it]=Salvaschermo di Xfce
Name[ja]=Xfce Screensaver
Name[ko]=Xfce 화면 보호기
Name[lt]=Xfce ekrano užsklanda
Name[nb]=Xfce Skjermsparer
Name[nl]=Xfce-schermbeveiliging
Name[oc]=Estalviador d'ecran Xfce
Name[pl]=Wygaszacz ekranu Xfce
Name[pt_BR]=Protetor de tela do Xfce
Name[pt]=Proteção de ecrã do Xfce
Name[ru]=Хранитель экрана Xfce
Name[sl]=Xfce ohranjevalnik zaslona
Name[sq]=Ekrankursyes Xfce
Name[sr]=Чувар заслона ИксФЦЕ-а
Name[sv]=Xfce skärmsläckare
Name[tr]=Xfce Ekran Koruyucu
Name[uk]=Зберігач екрана Xfce
Name[zh_CN]=屏保
Name[zh_TW]=Xfce 螢幕保護程式
Name=Xfce Screensaver
Comment[be]=Наладка ахоўніка экрана
Comment[bg]=Задайте настройки на вашия предпазител на екрана
Comment[ca]=Establiu les preferències de l'estalvi de pantalla
Comment[cs]=Nastavte své předvolby pro šetřič obrazovky
Comment[da]=Indstil dine præferencer for pauseskærmen
Comment[de]=Lege deine Bildschirmschoner-Einstellungen fest
Comment[el]=Ρύθμιση των προτιμήσεων σας για τη προστασία οθόνης
Comment[en_AU]=Set your screensaver preferences
Comment[en_CA]=Set your screensaver preferences
Comment[en_GB]=Set your screensaver preferences
Comment[es]=Establezca las preferencias del salvapantallas
Comment[et]=Seadista oma ekraanisäästjat
Comment[eu]=Ezarri zure pantaila-babeslearen hobespenak
Comment[fi]=Määritä näytönsäästäjän asetukset
Comment[fr]=Définissez vos préférences d’économiseur d’écran
Comment[gl]=Estableza as preferencias do seu protector de pantalla
Comment[he]=קבע את העדפות שומר המסך שלך
Comment[hr]=Postavite osobitosti vašega čuvara zaslona
Comment[hu]=Adja meg a képernyővédő beállításait
Comment[hy_AM]=Սահմանեք էկրանապահի կարգաւորումները
Comment[hye]=Սահմանէք էկրանապահի կարգաւորումները
Comment[id]=Setel preferensi screensaver Anda
Comment[is]=Stilltu valmöguleika fyrir skjávhvíluna
Comment[it]=Imposta le preferenze del salvaschermo
Comment[ja]=スクリーンセーバーの設定をする
Comment[kab]=Sbadu ismenyafen-inek·inem n useklas n ugdil
Comment[ko]=화면 보호기 기본 설정 항목을 설정합니다
Comment[lt]=Nusistatyti ekrano užsklandos nuostatas
Comment[ms]=Tetapkan keutamaan penyelamat skrin anda
Comment[nb]=Sett opp skjermspareren
Comment[nl]=Stel uw voorkeuren in voor de schermbeveiliging
Comment[oc]=Definir vòstras preferéncias per l’estalviador d’ecran
Comment[pl]=Ustawia preferencje wygaszacza ekranu
Comment[pt_BR]=Preferências do protetor de tela
Comment[pt]=Definir as preferências da proteção de ecrã
Comment[ru]=Настройка хранителя экрана
Comment[sk]=Vaše nastavenia šetriča obrazovky
Comment[sl]=Prilagodite nastavitve ohranjevalnika zaslona
Comment[sq]=Caktoni parapëlqimet tuaja për ekrankursyesin
Comment[sr]=Подеси чувара заслона
Comment[sv]=Spara inställningar för skärmsläckare
Comment[th]=ปรับแต่งโปรแกรมรักษาหน้าจอของคุณ
Comment[tr]=Ekran koruyucu tercihlerinizi ayarlayın
Comment[uk]=Задає налаштування для зберігача екрана
Comment[zh_CN]=设置您的屏幕保护首选项
Comment[zh_TW]=設定您的螢幕保護程式偏好設定
Comment=Set your screensaver preferences
GenericName[be]=Ахоўнік экрана
GenericName[bg]=Предпазител на екрана
GenericName[ca]=Estalvi de pantalla
GenericName[cs]=Šetřič obrazovky
GenericName[da]=Pauseskærm
GenericName[de]=Bildschirmschoner
GenericName[el]=Προστασία οθόνης
GenericName[en_AU]=Screensaver
GenericName[en_CA]=Screensaver
GenericName[en_GB]=Screensaver
GenericName[es]=Salvapantallas
GenericName[et]=Ekraanisäästja
GenericName[eu]=Pantaila-babeslea
GenericName[fi]=Näytönsäästäjä
GenericName[fr]=Économiseur d’écran
GenericName[gl]=Protector de pantalla
GenericName[he]=שומר מסך
GenericName[hr]=Čuvar zaslona
GenericName[hu]=Képernyővédő
GenericName[hy_AM]=Էկրանապահ
GenericName[hye]=Էկրանապահ
GenericName[id]=Screensaver
GenericName[is]=Skjáhvíla
GenericName[it]=Salvaschermo
GenericName[ja]=スクリーンセーバー
GenericName[kab]=Aseklas n ugdil
GenericName[ko]=화면 보호기
GenericName[lt]=Ekrano užsklanda
GenericName[ms]=Penyelamat Skrin
GenericName[nb]=Skjermsparer
GenericName[nl]=Schermbeveiliging
GenericName[oc]=Estalviador d'ecran
GenericName[pl]=Wygaszacz ekranu
GenericName[pt_BR]=Protetor de tela
GenericName[pt]=Proteção de ecrã
GenericName[ru]=Хранитель экрана
GenericName[sk]=Šetrič obrazovky
GenericName[sl]=Ohranjevalnik zaslona
GenericName[sq]=Ekrankursyes
GenericName[sr]=Чувар заслона
GenericName[sv]=Skärmsläckare
GenericName[th]=โปรแกรมรักษาหน้าจอ
GenericName[tr]=Ekran Koruyucu
GenericName[uk]=Зберігач екрана
GenericName[zh_CN]=屏幕保护
GenericName[zh_TW]=螢幕保護程式
GenericName=Screensaver
Icon=org.xfce.ScreenSaver
Exec=xfce4-screensaver-preferences
Terminal=false
Type=Application
Categories=GTK;Settings;DesktopSettings;X-XFCE-PersonalSettings;X-XFCE-SettingsDialog;
Keywords[bg]=настройки;предпочитания;предпазител на екрана;заключване на екрана;
Keywords[cs]=nastavení;předvolby,šetřič obrazovky;spořič obrazovky;uzamknout obrazovku;
Keywords[da]=indstillinger;præferencer;pauseskærm;låseskærm;
Keywords[de]=Einstellungen;Einstellungen;Bildschirmschoner;Bildschirm sperren;
Keywords[el]=ρυθμίσεις;προτιμήσεις;προστασία οθόνης;κλείδωμα οθόνης;
Keywords[en_GB]=settings;preferences;screensaver;lock screen;
Keywords[es]=configuración;preferencias;salvapantallas;pantalla de bloqueo;
Keywords[et]=seadistused,seaded,ekraanisäästja,ekraanilukk,lukustusvaade,lukustuskuva
Keywords[eu]=ezarpenak;lehentasunak;pantaila-babeslea;blokeo-pantaila;
Keywords[fi]=settings;preferences;screensaver;lock screen;asetukset;näytönsäästäjä;lukitusnäyttö;
Keywords[fr]=settings;preferences;screensaver;lock screen;paramètres;réglages;préférences;écran;économiseur;veille;verrouillage;
Keywords[gl]=settings;preferences;screensaver;lock screen;configuración;preferencias;protector;pantalla;bloqueo;
Keywords[he]=settings;preferences;screensaver;lock screen;
Keywords[hu]=beállítások;képernyővédő;képernyőkímélő;zárolási képernyő;zárképernyő;
Keywords[it]=settings;preferences;screensaver;lock screen;
Keywords[ja]=設定;スクリーンセーバー;ロック画面;
Keywords[ko]=settings;설정;preferences;기본설정;기본;screensaver;스크린세이버;화면;보호기;화면보호기;lock screen;화면잠금;잠금;
Keywords[lt]=nustatymai;nuostatos;ekrano užsklanda;ekrano uzsklanda;ekrano užraktas;ekrano uzraktas;
Keywords[nb]=innstillinger;oppsett;konfigurasjon;skjermbeskytter;skjermsparer;skjermlås;lås;skjerm
Keywords[nl]=instellingen;voorkeuren;schermbeveiliging;schermvergrendeling;
Keywords[oc]=paramètres;preferéncias;estalviador;ecran;verrolhatge;
Keywords[pl]=ustawienia;preferencje;wygaszacz ekranu;blokada ekranu;
Keywords[pt_BR]=configurações;preferências;protetor de tela;bloqueio de tela
Keywords[pt]=definições;preferências;proteção de ecrã;ecrã de bloqueio;
Keywords[ru]=settings;preferences;screensaver;lock screen;настройки;параметры;хранитель экрана;экран блокировки;
Keywords[sl]=settings;preferences;screensaver;lock screen;nastavitve;lastnosti;možnosti;ohranjevalnik;zaslon;zakleni;:
Keywords[sq]=rregullime;parapëlqime;ekrankursyes;kyçje ekrani;
Keywords[sr]=поставке;подешавања;чувар заслона;чувар приказа;закључај приказ;закључај екран;чувар екрана;закључај заслон;
Keywords[sv]=inställningar;alternativ;skärmsläckare;lås skärm;
Keywords[tr]=settings;preferences;screensaver;lock screen;
Keywords[uk]=settings;preferences;screensaver;lock screen;
Keywords[zh_CN]=settings;preferences;screensaver;lock screen;设置;首选项;屏幕保护;锁屏;
Keywords[zh_TW]=settings;preferences;screensaver;lock screen;
Keywords=settings;preferences;screensaver;lock screen;
OnlyShowIn=XFCE;
StartupNotify=true
X-XFCE-Bugzilla-Bugzilla=XFCE
X-XFCE-Bugzilla-Product=xfce4-screensaver
X-XFCE-Bugzilla-Component=general
X-XfcePluggable=true
X-XfceHelpPage=screensaver
